.p-CSS {
  text-align: center;
  font-weight: bold;
  background-color: darkmagenta;
  color: white;
}

.header-CSS {
  border-bottom: 10px solid darkmagenta;
}

.image1-CSS {
  height: 150px;
  width: 300px;
}

.h3-CSS{
  font-size: 35px;
}

.navbar {
  display: block;
  justify-content: space-between;
  align-items: center;
}

.link-CSS {
  margin: 15px;
  margin-top: 45px;
  text-decoration: none;
  color: darkmagenta;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: darkmagenta;
}


/* Media Queries */

/* Mobile View */
@media only screen and (250px <= width <= 425px) {
  .navbar {
  display: block;
  justify-content: space-between;
  align-items: center;
  }

  .nav-menu {
    position: absolute;
    visibility: hidden;
    left: 100%;
    margin: 100px;
    margin-top: 55px;
    width: 100%;
    display: center;
    flex-direction: column;
    background-color: white;
    border-style: solid;
    border-color: darkmagenta;
    border-radius: 10px;
    text-align: center;
    transition: all 1s ease-in-out;
    z-index: 1;
  }

  .nav-menu.active {
    position: absolute;
    visibility: visible;
    left: 0%;
    margin: 5px;
    margin-top: 55px;
    width: 100%;
    display: center;
    flex-direction: column;
    background-color: white;
    border-style: solid;
    border-color: darkmagenta;
    border-radius: 10px;
    text-align: center;
    transition: all 1s ease-in-out;
    z-index: 1;
  }

  /* Animations */
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
    -webkit-transform: translateY(8px) rotate(-45deg);
  }

  .hamburger.active .bar:nth-child(2) {
  transform: translateX(100%) translateX(0);
  -webkit-transform: translateX(100%) translateX(0);
  opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
    -webkit-transform: translateY(-8px) rotate(45deg);
  }
}


@media only screen and (426px <= width <= 499px) {
  .navbar {
  display: block;
  justify-content: space-between;
  align-items: center;
  }

  .nav-menu {
    position: absolute;
    visibility: hidden;
    left: 100%;
    margin: 65px;
    margin-top: 54px;
    width: 70%;
    display: center;
    flex-direction: column;
    background-color: white;
    border-style: solid;
    border-color: darkmagenta;
    border-radius: 10px;
    text-align: center;
    transition: all 1s ease-in-out;
    z-index: 1;
  }

  .nav-menu.active {
    position: absolute;
    visibility: visible;
    left: 0%;
    margin: 65px;
    margin-top: 54px;
    width: 70%;
    display: center;
    flex-direction: column;
    background-color: white;
    border-style: solid;
    border-color: darkmagenta;
    border-radius: 10px;
    text-align: center;
    transition: all 1s ease-in-out;
    z-index: 1;
  }

  /* Animations */
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
    -webkit-transform: translateY(8px) rotate(-45deg);
  }

  .hamburger.active .bar:nth-child(2) {
  transform: translateX(100%) translateX(0);
  -webkit-transform: translateX(100%) translateX(0);
  opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
    -webkit-transform: translateY(-8px) rotate(45deg);
  }
}


@media only screen and (500px <= width <= 550px) {
  .navbar {
  display: block;
  justify-content: space-between;
  align-items: center;
  }

  .nav-menu {
    position: absolute;
    visibility: hidden;
    left: 100%;
    margin: 110px;
    margin-top: 54px;
    width: 60%;
    display: center;
    flex-direction: column;
    background-color: white;
    border-style: solid;
    border-color: darkmagenta;
    border-radius: 10px;
    text-align: center;
    transition: all 1s ease-in-out;
    z-index: 1;
  }

  .nav-menu.active {
    position: absolute;
    visibility: visible;
    left: 0%;
    margin: 110px;
    margin-top: 54px;
    width: 60%;
    display: center;
    flex-direction: column;
    background-color: white;
    border-style: solid;
    border-color: darkmagenta;
    border-radius: 10px;
    text-align: center;
    transition: all 1s ease-in-out;
    z-index: 1;
  }

  /* Animations */
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
    -webkit-transform: translateY(8px) rotate(-45deg);
  }

  .hamburger.active .bar:nth-child(2) {
  transform: translateX(100%) translateX(0);
  -webkit-transform: translateX(100%) translateX(0);
  opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
    -webkit-transform: translateY(-8px) rotate(45deg);
  }
}


@media only screen and (600px <= width <= 650px) {
  .navbar {
  display: block;
  justify-content: space-between;
  align-items: center;
  }

  .nav-menu {
    position: absolute;
    visibility: hidden;
    left: 100%;
    margin: 125px;
    margin-top: 54px;
    width: 60%;
    display: center;
    flex-direction: column;
    background-color: white;
    border-style: solid;
    border-color: darkmagenta;
    border-radius: 10px;
    text-align: center;
    transition: all 1s ease-in-out;
    z-index: 1;
  }

  .nav-menu.active {
    position: absolute;
    visibility: visible;
    left: 0%;
    margin: 125px;
    margin-top: 54px;
    width: 60%;
    display: center;
    flex-direction: column;
    background-color: white;
    border-style: solid;
    border-color: darkmagenta;
    border-radius: 10px;
    text-align: center;
    transition: all 1s ease-in-out;
    z-index: 1;
  }

  /* Animations */
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
    -webkit-transform: translateY(8px) rotate(-45deg);
  }

  .hamburger.active .bar:nth-child(2) {
  transform: translateX(100%) translateX(0);
  -webkit-transform: translateX(100%) translateX(0);
  opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
    -webkit-transform: translateY(-8px) rotate(45deg);
  }
}


@media only screen and (710px <= width <= 767px) {
  .navbar {
  display: block;
  justify-content: space-between;
  align-items: center;
  }

  .nav-menu {
    position: absolute;
    visibility: hidden;
    left: 100%;
    margin: 150px;
    margin-top: 54px;
    width: 60%;
    display: center;
    flex-direction: column;
    background-color: white;
    border-style: solid;
    border-color: darkmagenta;
    border-radius: 10px;
    text-align: center;
    transition: all 1s ease-in-out;
    z-index: 1;
  }

  .nav-menu.active {
    position: absolute;
    visibility: visible;
    left: 0%;
    margin: 150px;
    margin-top: 54px;
    width: 60%;
    display: center;
    flex-direction: column;
    background-color: white;
    border-style: solid;
    border-color: darkmagenta;
    border-radius: 10px;
    text-align: center;
    transition: all 1s ease-in-out;
    z-index: 1;
  }

  /* Animations */
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
    -webkit-transform: translateY(8px) rotate(-45deg);
  }

  .hamburger.active .bar:nth-child(2) {
  transform: translateX(100%) translateX(0);
  -webkit-transform: translateX(100%) translateX(0);
  opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
    -webkit-transform: translateY(-8px) rotate(45deg);
  }
}



/* Tablet View */
@media only screen and (768px <= width <= 1023px) {
  .navbar {
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  }

  .nav-menu {
    position: absolute;
    visibility: hidden;
    left: 100%;
    margin-top: 109px;
    width: 88%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-style: solid;
    border-color: darkmagenta;
    border-radius: 10px;
    text-align: center;
    transition: all 1s ease-in-out;
    z-index: 1;
  }

  .nav-menu.active {
    position: absolute;
    visibility: visible;
    left: 0%;
    margin-top: 109px;
    width: 88%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-style: solid;
    border-color: darkmagenta;
    border-radius: 10px;
    text-align: center;
    transition: all 1s ease-in-out;
    z-index: 1;
  }

  /* Animations */
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
    -webkit-transform: translateY(8px) rotate(-45deg);
  }

  .hamburger.active .bar:nth-child(2) {
  transform: translateX(100%) translateX(0);
  -webkit-transform: translateX(100%) translateX(0);
  opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
    -webkit-transform: translateY(-8px) rotate(45deg);
  }
}


@media only screen and (1024px <= width <= 1120px) {
  .navbar {
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  }

  .nav-menu {
    position: absolute;
    visibility: hidden;
    left: 100%;
    margin-top: 109px;
    width: 88%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-style: solid;
    border-color: darkmagenta;
    border-radius: 10px;
    text-align: center;
    transition: all 1s ease-in-out;
    z-index: 1;
  }

  .nav-menu.active {
    position: absolute;
    visibility: visible;
    left: 0%;
    margin-top: 109px;
    width: 88%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-style: solid;
    border-color: darkmagenta;
    border-radius: 10px;
    text-align: center;
    transition: all 1s ease-in-out;
    z-index: 1;
  }

  /* Animations */
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
    -webkit-transform: translateY(8px) rotate(-45deg);
  }

  .hamburger.active .bar:nth-child(2) {
  transform: translateX(100%) translateX(0);
  -webkit-transform: translateX(100%) translateX(0);
  opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
    -webkit-transform: translateY(-8px) rotate(45deg);
  }
}
