.Projects-CSS {
  font-size: 75px;
  text-align: center;
}

.projects-line-CSS {
  font-size: 35px;
  text-align: center;
}

.image2-CSS {
  height: 250px;
  width: 450px;
}

.img-text-CSS {
  color: darkmagenta;
}

