.Projects-CSS {
  font-size: 75px;
  text-align: center;
}

.projects-line-CSS {
  font-size: 35px;
  text-align: center;
}

.image2-CSS {
  height: 250px;
  width: 450px;
}

.img-text-CSS {
  color: darkmagenta;
}

.fadein-zoomin-CSS {
  animation: zoom-in 2s ease;
}

@keyframes zoom-in {
  0% {
    transform: scale(0.5, 0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1, 1);
    opacity: 1;
  }
}