.resume-CSS {
  font-size: 75px;
  text-align: center;
}

.pic-CSS {
  height: 375px;
  width: 250px;
}

.resume-headline-CSS {
  font-size: 50px;
  text-decoration: underline;
}

.resume-line-CSS {
  font-size: 35px;
  margin: 0px 175px;
}

.fadeinzoomin-CSS {
  animation: zoom-in 2s ease;
}

@keyframes zoom-in {
  0% {
    transform: scale(0.5, 0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.fadeinleft-CSS {
  animation: fadein-left 1s ease;
}

@keyframes fadein-left {
  0% {
    opacity: 0;
    transform: translateX(-75%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.fadeinright-CSS {
  animation: fadein-right 1s ease;
}

@keyframes fadein-right {
  0% {
    opacity: 0;
    transform: translateX(75%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}  