.resume {
  font-size: 75px;
  text-align: center;
}

.pic-CSS {
  height: 300px;
  width: 300px;
}

.resume-headline-CSS {
  font-size: 35px;
  text-decoration: underline;
}

.resume-line-CSS {
  font-size: 35px;
}